@font-face {
    font-family: 'Didact';
    src: url('fonts/Didact.ttf') format("truetype");
}

:root {
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Didact';
    min-height: 100vh;
    overflow-x: hidden;
}

input, textarea {
    font-family: 'Didact' !important;
}

.btn-primary {
    color: white;
}

button {
    font-family: 'Didact';
    padding: 1em;
    border: none;
    font-size: 1em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.185);
    cursor: pointer;
    border-radius: .5em;
    transition: all .1s ease;
}

button:hover {
    transform: scale(1.01);
    font-weight: bold;
    filter: invert(1) saturate(0);
}